log/*.log
bomberman
*~
~*
.DS_Store
src/.DS_Store
includes/.DS_Store
models/.DS_Store
shaders/.DS_Store
src/*.o
src/.DS_Store
#*
**/*.swo
**/*.swp
**/.DS_Store
**/*.o
**/*.DS_Store
**/*.o
*.o
config/config.txt
bomberman.en.pdf
bomberman_assets.tar
bomberman_assets.tar.bz2
config/config.txt
config/.save_config
config/.level
